.column {
  max-width: 450px;
}

.hidden {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.ui.main.container {
  margin-top: 80px;
  flex: 1;
}
.ui.footer.segment {
  flex: 0;
}


.panel {
  border-radius: 4px;
  border: 1px #e5e5e5 solid;
  background: #fafafa;
  padding: 10px;
}
