.column {
  max-width: 450px;
}

.hidden {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.ui.main.container {
  margin-top: 80px;
  flex: 1;
}
.ui.footer.segment {
  flex: 0;
}


.panel {
  border-radius: 4px;
  border: 1px #e5e5e5 solid;
  background: #fafafa;
  padding: 10px;
}

main.docs section {
  border: 1px #ddd solid;
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 1em;
}

main.docs pre {
  background-color: #efefef;
  border-radius: 4px;
  padding: 6px;
}

main.docs h3 a {
  display: none;
  text-decoration: none;
  vertical-align: middle;
}
main.docs h3:hover a {
  margin-left: -24px;
  padding-right: 2px;
  line-height: 1;
  display: inline-block;
}
main.docs h3 a span {
  display: inline-block;
}

